.App{
    box-sizing: border-box;
    background: #F3F3F3;
    font-family:  Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* color: #eedfd9 */
}

.side-bar{
    position:fixed;
    height:100vh;
    top:0px;
    bottom:0;   
    width:0% !important;
    transition: 0.2s;
    z-index: 5000 !important;
    display:block !important;
    overscroll-behavior-y:contain !important;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .openSidebar{
   width:80% !important;
   translate:ease;
  }

/* src/components/LikeButton.css */
.thumbs-up-button,
.thumbs-down-button {
  color: black; /* Initial color is blue */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.thumbs-up-button.liked,
.thumbs-down-button.disliked {
  color: blue; /* Color remains blue when clicked */
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}


  